@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --a:0;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    /* padding: 12px;
    margin: 3px;  */
    margin: 16px 0px;

}

.close{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    display: none;
}

.right {
    width: 75vw;
    margin: 20px 0px;
    position: relative;
}

.home ul li {
    display: flex;
    gap: 15px;
    list-style: none;
    width: 20px;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 13px 14px;
}

.heading img {
    width: 25px;
}

.heading h2 {
    font-size: 16px;
}

.library {
    min-height: 70vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 20px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0px;
    padding: 10px;

}

.footer a {
    color: grey;
    text-decoration: none;
}

.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #211f1f;
}

.header>* {
    padding: 10px;
}

.spotifyPlaylist {
    padding: 16px;
}
.spotifyPlaylist h1{
    padding: 16px;
}
.card {
    width: 200px;
    /* border: 2px solid red; */
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 1s;
}

.card:hover{
    background-color: rgb(88, 86, 86);
    cursor: pointer;
    --a: 1;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
     max-height: 60vh;
    overflow-y: auto;
}

.card>* {
    padding-top: 10px;

}

.card img {
    width: 100%;
    object-fit: contain;
    position: relative;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    bottom: 105px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.signupbtn{
    font-weight: bold;
    color: rgb(179, 179, 179);
    background-color: #211f1f;
    border: none;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
}
.signupbtn:hover{
    font-size: 17px;
    color: white;
}

.loginbtn{
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}
.loginbtn:hover{
    padding: 10px 21px;
    font-size: 17px;
}
.playbar{
    position: fixed;
    bottom: 32px;
    background-color: #dad5d5;
    border-radius: 10px;
    width: 72vw;
    padding: 6px;
    filter: invert(1);
    min-height: 40px;
    font-size: 15px;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.hamburgerCont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.songbutton{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.songlist{
    height: 50vh;
    overflow: auto;
    margin-bottom: 44px;
    /* margin: 44px 0; */
}

.songlist .info{
    font-size: 13px;
    width: 344px;
}
.info div{
    word-break: break-all;
}
.songlist ul{
    padding: 0px 10px;
}

.songlist ul li{
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0px;
    border: 1px solid white;
    margin: 12px 0px;
    padding: 13px;
    border-radius: 5px;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span{
    font-size: 15px;
    width:64px;
    padding: 12px;
}

.seekbar{
    height: 4px;
    width: 71vw;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    bottom: 0px;
    margin: 6px;
    cursor: pointer;
}
.circle{
    height: 13px;
    width: 13px;
    background-color: black;
    border-radius: 13px;
    position: relative;
    bottom: 5px;
    left: 0%;
    transition: left 0.5s;
}

.songbutton img{
    cursor: pointer;
}

.abovebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.songinfo, .songtime{
    color: black;
    padding: 0px 12px;
    width: 224px;
}

.songtime{
    width: 120px;
}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.timevol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.range input{
    cursor: pointer;
}

@media (max-width:1300px) {
    .left{
        position: absolute;
        left: -120%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        background-color: black;
        padding: 0;
    }

    .close{
        display: block;
    }

    .right{
        width: 100vw;
        margin: 0;
    }

    .playbar{
        width: 96%;
    }

    .songbutton{
        padding-left: 0;
    }

    .seekbar{
        width: 97%;
    }

    .hamburger{
        display: block;
    }

    .card{
        width: 44vw;
    }
    .cardContainer{
        margin: 0;
        justify-content: center;
        max-height: 70vh;
    }

    .abovebar{
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }
}

@media (max-width:500px) {
    .card{
        width: 84vw;
    }
    .playbar{
        width: 90%;
    }
    .seekbar{
        width: 91%;
    }
    .cardContainer{
        max-height: 60vh;
    }
}